*{
    padding:0px;
    outline: 0px;
    margin: 0px;
}
.nav{
    width:99.7%;
    height:15vh;
    border:2px solid rgb(246, 246, 247);
    display: flex;
    justify-content: space-around;
    position: sticky;
}
.nav img{
    width:200px;
    height:80px;
    position: relative;
    left:50px;
    top:10px;
    /* border:2px solid blue; */
}
.nav .subnav{
    width:60%;
    height:15vh;
    /* border:2px solid blue; */
    /* position: absolute; */
    left:300px;
    top:5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
span{
   text-align: center;
}
/* .navmenu{
    position: absolute;
    left:610px;
    /* border:2px solid blue; */
    /* width: 20px;
    height: 10px;
    border:2px solid blue;
    top:23px; */
/* } */
/* .navmenu i{
    width:100%;
    height:100%;
} */ 
.navmenu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:250px;
    height:10vh;
    /* border:2px solid blue; */
    top:15px;
    position: relative;
}
.menu:hover{
    background-color: black;
    color:rgb(250, 193, 174);
}
.menu{
    width:90px;
    height:5vh;
    /* border:2px solid blue; */
    text-align: center;
}
.about{
    width:200px;
    height:200px;
    /* border:2px solid blue;  */
    font-size: 15px;
    position:relative;
    top:-45px;
    left:1000px;  *
     display: none;
     background-color: white;
    z-index: 1;

} 
.nm{
    height:25px;
    width:25px;
    /* border:2px solid blue; */
    background-color: rgb(233, 236, 238);
    padding:5px;
}
.nm:hover{
    background-color: black;
   
}
/* nm:hover . fa-solid fa-bars{
    color: #f29107;
} */
.bn{
    width:90px;
    height:40px;
    /* border:2px solid blue; */
    text-align: center;
    padding: 10px;
    background-color:#c27100 ;

}
.bn:hover{
    background-color: rgba(139, 58, 0, 0.642);
    color:white;
}
.t{
    width:90px;
    height:170px;
    border:0.5px solid white;
    position: relative;
    top:-35px;
    left:1200px;
    display: none; 
     background-color: white;
    padding: 5px;
    z-index: 1; 
}
.Nav{
    width:99.7%;
    height:15vh;
    border:2px solid rgb(246, 246, 247);
    display: flex;
    justify-content: space-around;
    position: sticky;
}
.Nav img{
    width:200px;
    height:80px;
    position: absolute;
    left:50px;
    top:10px;
    /* border:2px solid blue; */
}
.f{
    position: relative;
    /* border:2px solid blue; */
    width:65%;
    height:100px;
    top:5px;
    left:70px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    /* background-image: url("https://pix10.agoda.net/hotelImages/339834/-1/6caa345be51c467d64d3d153b4d541b1.jpg?ce=0&s=414x232"); */
}
.f p:hover{
    color:#c27100;
}
.first{
    width:99.7%;
    height:45vh;
    /* border:2px solid brown; */
    /* background-image: url("https://pix10.agoda.net/hotelImages/339834/-1/6caa345be51c467d64d3d153b4d541b1.jpg?ce=0&s=414x232"); */
    position: relative;
}
.first img{
    width:100%;
    height:100%;
    
}
.b{
    width:38%;
    height:30vh;
    /* border:2px solid red; */
    position: relative;
    left:100px;
    top:-226px;
    background-color:rgb(255, 255, 255,0.8);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.second{
    width:99.7%;
    height:auto;
    /* border:2px solid red; */
}
.s{
    width:60%;
    height:20vh;
    border:2px solid #dfdfdf;
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    padding-top: 10px;
}
.s_cont{
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding:5px;
    margin-left: 5px;
}
.s pre{
    position: relative;
    top:70px;
    left:5px;
}
.ss{
    width:400px;
    height:35vh;
    /* border:2px solid blue; */
    position:relative;
    top:-130px;
    left:960px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* padding:10px; */
    background-color: #fafafa;
}
/* .sel{
    width:400px;
    height:30vh;
    border:2px solid red;
    /* position:absolute; 
} */
.s_cont_sub{
    width:400px;
    height:10vh;
     border: 2px solid #e1e1e1;; 
    /* background-color: #c27100; */
    /* margin-left: 5px; */
    margin-right: 10px;
}
.s_cont_sub span{
    font-size: 23px;
}
.sub2{
    width:400px;
    height:10vh;
    border:2px solid #e1e1e1;
    margin-right: 10px;
    
}
.sub2 span{
    font-size: 23px;
}
.sub3{
    width:400px;
    height:10vh;
    border: 2px solid #e1e1e1;
    margin-right: 10px;
}
.sub3 span{
    font-size: 23px;
}
.sss{
    width:50%;
    height:20vh;
    /* border:2px solid blue; */
    position: absolute;
    top:750px;
    left:10px;
}
.ci{
    width:50px;
    height:50px;
    border:2px solid black;
    background-color: black;
    border-radius: 50%;
    position: relative;
    top:28px;
    left:40px;
    color:white;
}
.cir{
    width:50px;
    height:50px;
    border:2px solid rgb(227, 227, 250);
    border-radius: 50%;
    position: relative;
    top:28px;
    left:200px;
    background-color:whitesmoke;
    color:black;
}
.cirr{
    
        width:50px;
        height:50px;
        border:2px solid rgb(227, 227, 250);
        border-radius: 50%;
        position: relative;
        top:28px;
        left:300px;
        background-color:whitesmoke;
        color:black;
    
}
.circle{
    
        width:20px;
        height:20px;
        border:2px solid rgb(227, 227, 250);
        border-radius: 50%;
        position: relative;
        top:28px;
        left:500px;
        background-color:whitesmoke;
        color:black;

}
.line{
    width:580px;
    /* height:1vh; */
    border:2px solid rgb(222, 222, 222);
    position:relative;
    top:40px;
    left:20px;
}
.sub{
    width: 80%;
    height:5vh;
    /* border:2px solid red; */
    position: relative;
    top:20px;
    left:15px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content:space-between;
}

.footer{
    width:99.7%;
    height:99vh;
    /* border:2px solid blue; */
    position: relative;
    /* top:-268px; */
    background-color:rgb(0, 0, 3);

}
.a{
    width:38%;
    height:40vh;
    /* border:2px solid yellow; */
    position: absolute;
    top:100px;
    left:60px;
}
.a img{
    width:90%;
    height:12vh;
}
#g{
position: absolute;
left:90px;
top:110px;
color:white;
font-size: 20px;
}
#h{
    position: absolute;
    left:40px;
    top:140px;
    color:white;
    font-size: 20px;
}
.aa{
    width:60%;
    height:5vh;
    /* border:2px solid blue; */
    position: absolute;
    left:40px;
    top:200px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.A{
    width:35px;
    height:30px;
    /* border:2px solid blue; */
    background-color:#c27100;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h5{
    position:absolute;
    top:270px;
    left:190px;
    font-size: 25px;
    color:white;
}
/* .bb{
    width:38%;
    height:20vh;
    border:2px solid rgb(210, 93, 93);
    position: absolute;
    left:35px;
    top:440px; */
    /* display: flex;
    justify-content: space-between; */
/* } */
.prodstrip{
    width: 38%;
    height: 200px;
    margin: 10px auto;
    /* background-color:white;  */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: gray; */
    /* background-color:gray; */
    /* border:2px solid green; */
    position: relative;
    top:380px;
    left:-425px;
  }
  .prod{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .prod .prodimg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .prod .prodimg img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .prod .prodimg p{
    font-size:20px;
    color:white;
  }
  .prodstrip1{
    width: 38%;
    height: 200px;
    margin: 10px auto;
    /* background-color:white;  */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: gray; */
    /* background-color:gray; */
    /* border:2px solid green; */
    position: relative;
    top:300px;
    left:-425px;
  }
  .prod1{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .prod1 .prodimg1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .prod1 .prodimg1 img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .prod1 .prodimg1 p{
    font-size:20px;
    /* color: aliceblue; */
  }  

.b1{
    position: absolute;
    width:20%;
    height:10vh;
    border:2px solid blue;
    
}
.b2{
    position: absolute;
    width:20%;
    height:10vh;
    border:2px solid blue;
    left:10px;

}
.b3{
    position: absolute;
    width:20%;
    height:10vh;
    border:2px solid blue;
    left:400px;
}
.b4{
    position: absolute;
    width:20%;
    height:10vh;
    border:2px solid blue;
    left:420px;
}
.b1 img{
    width:100%;
    height:100%;
}
.b2 img{
    width:100%;
    height:100%;
}
.b3 img{
    width:100%;
    height:100%;
}
.b4 img{
    width:100%;
    height:100%;
}
#A{
    position: absolute;
    left:20px;
    top:90px;
    font-size: 14px;
    color:white;
}
 #z{
    position: absolute;
    left:30px;
    top:90px;
    color:white;

}
#y{
position: absolute;
left:38px;
top:90px;
color: white;
} 
#x{
    position: absolute;
left:50px;
top:85px;
color:white;
}
.fa-less-than{
    position:absolute;
    left:10px;
    top:48%;
    color:crimson;
    font-size: 35px;
}
.fa-greater-than{
    position:absolute;
    right:10px;
    top:40%;
    color:crimson;
    font-size:35px;
}
.dotcon{
    width:100%;
    text-align: center;
    letter-spacing: 4px;
    font-size: 25px;
    position:absolute;
    bottom:10px;
    color:rgb(240,183,11);
}
.c{
    width:120px;
    height:200px;
    /* border:2px solid blue; */
    position: absolute;
    left:670px;
    top:100px;
   display: flex;
   justify-content: space-around;

}
#L{
    position: absolute;
    top:10px;
    color:rgb(249, 138, 2);
    font-size: 27px;
    left:0px;
}
#B{
    position: absolute;
    top:45px;
    color:white;
    font-size: 20px;
    left:20px;
}
#C{
    position: absolute;
    top:70px;
    color:white;
    font-size: 20px;
    left:20px;
}
#D{
    position: absolute;
    top:95px;
    color:white;
    font-size: 20px;
    left:20px;
}
#E{
    position: absolute;
    top:120px;
    color:white;
    font-size: 20px;
    left:20px;
}
#F{
    position: absolute;
    top:145px;
    color:white;
    font-size: 20px;
    left:20px;
}
#G{
    position: absolute;
    top:170px;
    color:white;
    font-size: 20px;
    left:20px;
}
.d{
    width:120px;
    height:160px;
    /* border:2px solid blue; */
    position: absolute;
    left:880px;
    top:100px;
    display: flex;
    justify-content: space-around;

}
#H{
    position: absolute;
    top:45px;
    color:white;
    font-size: 20px;
    left:20px;
}
#I{
    position: absolute;
    top:70px;
    color:white;
    font-size: 20px;
    left:20px;
}
#J{
    position: absolute;
    top:95px;
    color:white;
    font-size: 20px;
    left:20px;

}
#K{
    position: absolute;
    top:120px;
    color:white;
    font-size: 20px;
    left:20px;
}

.e{
    width:28%;
    height:55vh;
    /* border:2px solid red; */
    position: absolute;
    left:872px;
    top:100px;
}
#M{
    position: absolute;
    top:10px;
    color:rgb(249, 138, 2);
    font-size: 27px;
    left:0px;
}
#N{
    position: absolute;
    top:65px;
    left:5px;
}
#O{
    position: absolute;
    top:120px;
    left:5px;
}
#P{
    position: absolute;
    top:170px;
    left:5px;
}
.E{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    gap:50px;
}
.ff{
    width: 10%;
    height:40vh;
    /* border:2px solid red; */
    position: relative;
    left:1300px;
    top:100px;
    /* display: flex;
    justify-content: space-around; */
}
span{
    font-size: 25px;
    color: #c27100;
    
}
input{
    width:78%;
    height:8%;
    border-radius: 5px;
}
.e p{
    color:chocolate;
    font-size: 15px;
    left:5px;
    top:45px;
    color:white;
}
#fff{
    position:absolute;
    font-size:15px;
    top:100px;
    color:white;
}
#ffff{
    position: absolute;
    font-size: 15px;
    top:153px;
    color:white;
}
.e pre{
    position: absolute;
    top:235px;
    font-size: 15px;
    color:white;
}
.g{
    width:120px;
    height:40px;
    /* border:2px solid blue; */
    position: absolute;
    top:340px;
    left:140px;
    text-align: center;
    background-color: rgba(139, 58, 0, 0.642) ;
}
#dd{
    font-size: 25px;
    position: absolute;
    top:5px;
    color: #c27100;
}
.f pre{
    position: absolute;
    top:40px;
    color:white;
    font-size: 15px;
    left:5px;
}
#t{
    position: absolute;
    top:65px;
    color:white;
    font-size: 15px;
    left:5px;
}
#u{
    position: absolute;
    top:80px;
    color:black;
    font-size: 15px;
    left:1150px;
    width:142px;
    height:40px;
    /* border:2px solid green; */
    background-color:burlywood;
}
#u:hover{
    background-color: rgba(139, 58, 0, 0.642);
  /* background-color:   #c27100 */
    color:white;
}
.g:hover{
    color:white;
}